In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

### Series 由一组索引以及一组数据（Numpy数据类型）组成

In [76]:
ser_obj = Series([4,7,-5,"hello"])

In [77]:
ser_obj

0        4
1        7
2       -5
3    hello
dtype: object

In [78]:
ser_obj.shape

(4,)

### 通过values 和 index 属性获取其值和索引

In [79]:
ser_obj.values

array([4, 7, -5, 'hello'], dtype=object)

In [80]:
ser_obj.index

RangeIndex(start=0, stop=4, step=1)

### 创建对应标记索

In [81]:
obj2 = Series([4,7,-5,3], index=['d','b','c','a'])

In [82]:
obj2

d    4
b    7
c   -5
a    3
dtype: int64

### 通过索引方式选取单个或一组值

所有的索引，都是基于索引列的。
1. 索引列是非整数：如果“【】”中是字符，则在索引列中找相等的位置，如果是数字，则意为序号。
1. 索引列是整数：如果“【】”中是整数，此时为了避免歧义，该整数将会寻找索引列中相等的那个数字。
1. 如果想使用基于位置的索引，可以用Series的iget_value 和 DataFrame的irow 和icol 方法。

In [83]:
obj2['a']

3

In [84]:
obj2[['a','b']]

a    3
b    7
dtype: int64

In [5]:
obj22 = Series(np.arange(3.), index=['d','b','c'])
obj22

d    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
obj22['b']

1.0

In [8]:
obj22[0]

0.0

In [9]:
obj23 = Series(np.arange(3.))
obj23

0    0.0
1    1.0
2    2.0
dtype: float64

In [10]:
obj23[1]

1.0

In [11]:
obj23 = Series(np.arange(3.), index=[3,4,5])
obj23

3    0.0
4    1.0
5    2.0
dtype: float64

In [13]:
#obj23[1] error!
obj23[3]

0.0

### 对Series元素做运算，依旧保留索引与值的关联

In [85]:
obj2

d    4
b    7
c   -5
a    3
dtype: int64

In [86]:
obj2>0

d     True
b     True
c    False
a     True
dtype: bool

In [87]:
obj2[obj2>0]

d    4
b    7
a    3
dtype: int64

In [88]:
obj2 * 2

d     8
b    14
c   -10
a     6
dtype: int64

### Series 还可看作字典（索引到值的映射），可以通过python字典直接创建Series

#### 与字典一样的用法

In [89]:
'b' in obj2

True

#### 利用字典创建

In [90]:
sdata = {'Ohio': 35000, 'Texas':71000, 'Oregon':16000, "utah":4000}

In [91]:
obj3 = Series(sdata)

In [92]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
utah       4000
dtype: int64

#### 指定字典和额外索引创建

In [93]:
states = ['California', 'Ohio', "Oregon", "Texas"]
obj4 = Series(sdata, index=states)

In [94]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

#### 在算术运算中自动根据索引对齐

In [95]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
utah       4000
dtype: int64

In [96]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [97]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
utah               NaN
dtype: float64

In [98]:
obj3.add(obj4, fill_value=0)

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
utah            4000.0
dtype: float64

### Series 本身和索引都有一个name属性

In [99]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [100]:
obj4.name = 'population'

obj4.index.name = 'state'

In [101]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

#### 索引可以被修改

In [102]:
obj4.index

Index(['California', 'Ohio', 'Oregon', 'Texas'], dtype='object', name='state')

In [103]:
# 直接修改
obj4.index = ['California', 'Ohio', 'Ore', 'Texas']
obj4.index

Index(['California', 'Ohio', 'Ore', 'Texas'], dtype='object')

In [104]:
# 间接修改
arr = obj4.index.get_values()
arr[0] = 'Cal'
obj4.index = arr
obj4.index

Index(['Cal', 'Ohio', 'Ore', 'Texas'], dtype='object')