In [31]:
from pandas import Series, DataFrame
import pandas as pd
import sys

In [3]:
!cat pydata-book-2nd-edition/examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

## Read

In [4]:
# 等价于
# pd.read_table('pydata-book-2nd-edition/examples/ex1.csv', sep=',')
df = pd.read_csv('pydata-book-2nd-edition/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
df2 = pd.read_csv('pydata-book-2nd-edition/examples/ex1.csv', header=None)
df2

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

### Read file without head

In [6]:
!cat pydata-book-2nd-edition/examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

#### method 1

In [7]:
pd.read_csv('pydata-book-2nd-edition/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

#### method 2

In [8]:
pd.read_csv('pydata-book-2nd-edition/examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Read with regular expression

In [9]:
!cat pydata-book-2nd-edition/examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [10]:
list(open('pydata-book-2nd-edition/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
result = pd.read_table('pydata-book-2nd-edition/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

### Read big file

In [14]:
result = pd.read_csv('pydata-book-2nd-edition/examples/ex6.csv')
result.tail()

           one       two     three      four key
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

#### specify read row numbers

In [15]:
result = pd.read_csv('pydata-book-2nd-edition/examples/ex6.csv', nrows=5)
result.tail()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

#### read file by chunk

In [25]:
result = pd.read_csv('pydata-book-2nd-edition/examples/ex6.csv', chunksize=1000)
result

In [26]:
tot = Series([])
for piece in result:
    # Series add 函数， 对齐索引后，把值加和
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    #print(piece['key'].value_counts())
tot

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
A    320.0
B    302.0
C    286.0
D    320.0
E    368.0
F    335.0
G    308.0
H    330.0
I    327.0
J    337.0
K    334.0
L    346.0
M    338.0
N    306.0
O    343.0
P    324.0
Q    340.0
R    318.0
S    308.0
T    304.0
U    326.0
V    328.0
W    305.0
X    364.0
Y    314.0
Z    288.0
dtype: float64

### Parameters of read_csv/read_table

#### converters

In [21]:
!cat pydata-book-2nd-edition/examples/ex3.txt
result = pd.read_table('pydata-book-2nd-edition/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
def f(x):
    print(x)
        
result = pd.read_table('pydata-book-2nd-edition/examples/ex3.txt', sep='\s+', converters={'A': f})
result

-0.264438
0.927272
-0.264273
-0.871858

        A         B         C
aaa  None -1.026059 -0.619500
bbb  None  0.302904 -0.032399
ccc  None -0.386314 -0.217601
ddd  None -0.348382  1.100491

## Write

### 输出指定的列

In [29]:
result = pd.read_table('pydata-book-2nd-edition/examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [34]:
result.to_csv(sys.stdout, index = False, header=False, columns=['A','C'])

-0.264438,-0.6195
0.927272,-0.032399000000000004
-0.264273,-0.21760100000000002
-0.871858,1.1004909999999999